<!DOCTYPE html>
<!--thymeleaf implementation-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Images</title>
    <!--bootstrap implementation-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body>

<!--header-->
<header>
    <a class="homeLink" th:href="@{/}"><h3 class="text-center">Home</h3></a>
</header>


<div class="container-fluid text-center">

    <!--title-->
    <div><h2>Manage Images</h2></div>

    <!--link for new image-->
    <div class="m-2">
        <a class="h3" th:href="@{/images/new}">Add New Image</a>
    </div>
    <!--success message-->
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>



    <!--image gallery-->

    <div id="galText">
        <h2 class="w3-center">Gallery</h2>
        <div id="gal" class="gallery">
            <th:block th:each="image : ${listImages}">
                <div class="image-item">
                    <a th:href="@{'/images/details/' + ${image.id}}">
                        <img class="popup" th:src="@{${image.photosImagePath}}">
                    </a>
                    <p class="name">[[${image.name}]]</p>
                </div>
            </th:block>
        </div>
    </div>

    <!--slideshow-->
    <div id="sli" class="text-center">
        <h2 class="w3-center">Slideshow</h2>
        <div class="slideShow">
            <th:block th:each="image : ${listImages}">
                <a th:href="@{'/images/details/' + ${image.id}}">
                    <img id="centerImageSlider" class="mySlides" th:src="@{${image.photosImagePath}}">
                </a>
                    <p id="centerImageSliderName" class="imageSliderName">[[${image.name}]]</p>
            </th:block>
        </div>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

    </div>

    <button id="toggle-button" onclick="toggleFunction()">Format</button>

</div>

<script>

    var slideIndex = 1;
    showDivs(slideIndex);



</script>

<!--footer-->
<footer class="text-center">
    <h3 class="font-weight-bold">&copy;Dom</h3>
</footer>

</body>
</html>
